# enter env: env/Scripts/activate
# then do pip3 install -e . to install the package

numpy
pandas
matplotlib
ipykernel

scikit-learn
torch torchvision --index-url https://download.pytorch.org/whl/cu126
zoku

# Datasets (BenchMarks)
openml