# enter env: env/Scripts/activate

# essential
numpy
pandas
matplotlib
ipykernel
ipywidgets

# datasets
openml

# training libraries
scikit-learn
--extra-index-url https://download.pytorch.org/whl/cu126
torch
#torchvision check if it's needed?


# Hyperparamter optimization
optuna

# models libraries
tabpfn
git+https://github.com/priorlabs/tabpfn-extensions.git

xgboost

catboost

# For TabResFlow
zuko
hyperopt

# For TabResNet
pytorch_widedeep
torchmetrics

# For TTVAE
rdt
properscoring

# TDGPS
# pip install --no-deps uq360
# python setup.py develop
# for the sake of god, DO NOT CHANGE ANY VERSION HERE
#tensorflow==2.16.2 # for gpu access, we need tensorflow[and-cuda]==2.16.2
tensorflow-probability==0.24.0
gpflow==2.10.0
gpflux
